.staff-profile {
    display: block;
    background: rgba(154,170,170, .85);
    padding: 10px;
    margin-bottom: 10px;
    border-radius: 10px;
}

.staff-profile h2 {
}

.staff-profile p {
}

.staff-profile img {
    float: left;
    background: rgba(154,170,170, 1);

}
