@import "variables";
@import "grid";

body {
    background: $complementary-neutral;
    padding: 10px;
    @media screen and (min-width:400px) {
        padding: 25px;
    }
}

a {
    text-decoration: none;
}

.header-wrap {
    max-width: 1070px;
    background: $complementary-neutral-dark;
    padding-top: 20px;
    padding-right: 40px;
    padding-left: 40px;
    padding-bottom: 20px;
    color: $primary-neutral-light;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 20px;

    h1 {
        font-size: 40px;
        float: left;
        margin: 0;
        font-weight: normal;
    }
    @media screen and (max-width:630px) {
        display: none;
    }
}


.header-wrap .lcms {
    font-size: 28px;
    font-weight: normal;
    font-family: $headline-font;
}

.header-wrap .header-service-times {
    float: right;
    width: 200px;
    background-color: $primary-neutral-light;
    padding: 20px;
    border-radius: 10px;
    color: $black;
    font-family: $secondary-font;
}

.small-breakpoint-hide {
    @media screen and (max-width:630px) {
        display: none;
    }
}

.small-breakpoint-show {
    display: none;
    @media screen and (max-width:630px) {
        display: inline;
    }
}

.clearfix:after {
    display: block;
    clear: both;
    content:'';
}

ul {
    @media screen and (max-width:$menu-breakpoint-below) {
        padding-left: 20px;
    }
}

.content-wrapper {
    max-width: 1050px;
    height: 575px;
    width: auto;
    display: block;
    position: relative;
    color: $black;
    margin-left: auto;
    margin-right: auto;
    @media screen and (min-width:$menu-breakpoint-above) {
        padding: 40px;
    }
}

.content-wrapper::after {
    content: "";
    background-image: url( "../img/nameless-wider-new-zion-street2.jpg" );
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center top;
    opacity: 1;
    top: 0;
    right: 0;
    bottom: 0;
    left:0 ;
    position: absolute;
    z-index: -1;
    @media (max-width: 1100px ) {
        background-image: url( "../img/wide-no-name-zion-street.jpg");
    }
}

.homepage.content-wrapper::after {
    background-image: url( "../img/glass-only-bkground.jpg" );
    @media (max-width: 1100px ) {
        background-image: url( "../img/glass-only-bkground.jpg");
    }
}

.content-wrapper p {
    position:relative;
}

// .content-wrapper img {
//     float: left;
//     margin: 25px;
// }

.homepage .church-image {
    display: block;
    margin: auto;
    max-width: 100%;
}

.text-container {
    background-color: rgba($white, 0.8);
    padding: 1px 40px;
    @media screen and (max-width: 1180px ) {
        padding: 1px 10px;
    }
    //TODO: Make text bigger, make container narrower, starting with below.
    max-width:656px;
    margin-right: auto;
    margin-left: auto;
    font-family: $secondary-font;
    a {
        color: $complementary-dark;
        text-decoration: underline;
    }
    a:hover {
        color: $primary-neutral-dark;
    }
    font-size: 1.125em;
    .btn-container {
        display: block;
        margin-right: auto;
        margin-left: auto;
        text-align: center;
        width: 150px;
        min-height: 60px;
        background: $primary-color;
        line-height: 55px;
        border: 1px solid $complementary-gray;
        margin-bottom: 25px;
        border-radius: 10px;
        color: $complementary-neutral-dark;
        font-family: $headline-font;
        font-size: 1.5em;
    }

    .btn-container:hover {
        color: $complementary-neutral-light;
    }

    .btn-primary {
        display: inline-block;
        vertical-align: middle;
        line-height: normal;
    }
}

.scroll-wrapper {
    height: 625px;
    overflow: auto;
    width: auto;
}

.side-image {
    width:500px;
    float:right;
}

.side-image-2 {
    clear:right;
}

.side-image img {
    max-width:100%;
    max-height:100%;
}

.h2-not-bold {
    font-weight: normal;
    font-size: 70%;
}

.strong {
    font-weight: bold;
}

.u {
    text-decoration: underline;
}

.em {
    font-style: italic;
}


h4.catechism-quesions{
    font-weight: normal;
    font-style: italic;
}

.directions-column {
    float:left;
    width:45%;
    margin-right:2%;
    @media screen and (max-width:$menu-breakpoint-below) {
        width: 100%;
        margin-bottom: 10px;
    }
}

.last-column {
    margin-right: 0;
    @media screen and (max-width:$menu-breakpoint-below) {
        width: auto;
    }
}

.map-wrapper {
    position: relative;;
    padding-bottom: 75%;
    height: 0;
    width:auto;
    overflow: hidden;
    iframe {
        position: absolute;
        top: 0;
        left: 0;
        width: 100% !important;
        height: 100% !important;
    }
}

.contact-form {
    max-width: 400px;
    margin: auto;
    display: block;

    label {
        display: inline-block;
        padding-top: 5px;
    }

    input {
        width: 100%;
        height: 25px;
        border-radius: 5px;
        border: 1px solid #ccc;
        box-shadow: inset 0 1px 3px #ddd;
        font-size: 16px;
        padding-left: 10px;
    }

    textarea {
        width: 100%;
        height: 100px;
        border-radius: 5px;
        border: 1px solid #ccc;
        box-shadow: inset 0 1px 3px #ddd;
        padding-left: 10px;
        margin-bottom: 5px;
    }
}

.special-service-box {
    h2 {
        margin-top: 0;
    }
    max-width: 500px;
    border: 1px solid $complementary-gray;
    padding: 10px;
    margin: 15px auto;
    @media screen and (min-width:$menu-breakpoint-above) {
        padding: 25px;
    }
}

.calendar-container {
    width: 800px;
    display: block;
    margin: 0 auto;
    position: relative;
    // height: 0;
    width: 78%;
    padding-bottom: 58.5%;
}
  
.calendar-container iframe{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
  }

@media screen and (max-width:$menu-breakpoint-below) {
    .big-calendar {
        display: none;
    }
}

@media screen and (min-width:$menu-breakpoint-below) {
    .agenda-container {
        display: none;
    }
}
