@import "variables";

body {
    /*background: #587272;*/
    background: $complementary-neutral;
    /*rgb(161, 201, 0);*/
    padding: 25px;
}

a {
    text-decoration: none;
}

.header-wrap {
    max-width: 1070px;
    background: $complementary-neutral-light;
    padding-top: 20px;
    padding-right: 40px;
    padding-left: 40px;
    padding-bottom: 20px;
    color: $primary-color;
    margin-left: auto;
    margin-right: auto;
}

.header-wrap h1 {
    font-size: 36px;
    float: left;
}

.header-wrap h1 span {
    font-size: 28px;
    padding-left: 15px;
}

.header-wrap .header-service-times {
    float: right;
    width: 200px;
    background-color: $primary-neutral-dark;
    padding: 20px;
    border-radius: 10px;
    color: $white;
}

.clearfix:after {
    display: block;
    clear: both;
    content:'';
}

.content-wrapper {
    max-width: 1050px;
    height: 575px;
    width: auto;
    display: block;
    position: relative;
    padding: 50px;
    /*box-shadow: 0px -2px 2px hsl(200, 100%, 50%);*/
    color: $black;
    margin-left: auto;
    margin-right: auto;
}

.content-wrapper::after {
    content: "";
    background-image: url( "../img/nameless-wider-new-zion-street2.jpg" );
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center top;
    opacity: 1;
    top: 0;
    right: 0;
    bottom: 0;
    left:0 ;
    position: absolute;
    z-index: -1;
    @media (max-width: 1100px ) {
        background-image: url( "../img/wide-no-name-zion-street.jpg");
    }
}

.homepage.content-wrapper::after {
    background-image: url( "../img/wider-new-zion-street2.jpg" );
    @media (max-width: 1100px ) {
        background-image: url( "../img/wide-new-zion-street.jpg");
    }
}

.content-wrapper p {
    position:relative;
}

/*.content-wrapper img {
    float: left;
    margin: 25px;
}*/

.homepage .name-cover {
    width:auto;
    height:360px;
}

.text-container {
    background-color: rgba($primary-neutral-light, 0.8);
    padding: 1px 40px 1px 40px;
    //TODO: Make text bigger, make container narrower, starting with below.
    max-width:656px;
    margin-right: auto;
    margin-left: auto;
    a {
        color: $complementary-neutral;
    }
    a:hover {
        color: $primary-color;
    }
    font-size: 1.125em;
    .btn-container {
        display: block;
        margin-right: auto;
        margin-left: auto;
        text-align: center;
        width: 150px;
        height: 60px;
        background: $primary-color;
        line-height: 55px;
        border: 1px solid $complementary-gray;
        margin-bottom: 25px;
        border-radius: 10px;
        color: $complementary-neutral-dark;
        font-family: 'Ek Mukta';
        font-size: 1.5em;
    }

    .btn-container:hover {
        color: $complementary-neutral-light;
    }
    
    .btn-primary {
        display: inline-block;
        vertical-align: middle;
        line-height: normal;
    }
}

.scroll-wrapper {
    height: 625px;
    overflow: auto;
    width: auto;
}

.side-image {
    width:500px;
    float:right;
}

.side-image-2 {
    clear:right;
}

.side-image img {
    max-width:100%;
    max-height:100%;
}

.h2-not-bold {
    font-weight: normal;
    font-size: 70%;
}

.strong {
    font-weight: bold;
}

.u {
    text-decoration: underline;
}

.em {
    font-style: italic;
}


h4.catechism-quesions{
    font-weight: normal;
    font-style: italic;
}

.map-wrapper {
    float: left;
    margin-right: 20px;
    margin-bottom: 20px;
}

.directions-text {
    float: left;
    max-width: 450px;
    min-width: 300px;
}
