@import "variables";
@import "grid";

body {
    //background: #587272;
    background: $complementary-neutral;
    //rgb(161, 201, 0);
    padding: 25px;
}

a {
    text-decoration: none;
}

.header-wrap {
    max-width: 1070px;
    background: $complementary-neutral-dark;
    padding-top: 20px;
    padding-right: 40px;
    padding-left: 40px;
    padding-bottom: 20px;
    color: $primary-neutral-light;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 20px;

    h1 {
        font-size: 40px;
        float: left;
        margin: 0;
        font-weight: normal;
    }
}


.header-wrap h1 span {
    font-size: 28px;
    font-weight: normal;
    font-family: $headline-font;
}

.header-wrap .header-service-times {
    float: right;
    width: 200px;
    background-color: $primary-neutral-light;
    padding: 20px;
    border-radius: 10px;
    color: $black;
    font-family: $secondary-font;
}

.clearfix:after {
    display: block;
    clear: both;
    content:'';
}

.content-wrapper {
    max-width: 1050px;
    height: 575px;
    width: auto;
    display: block;
    position: relative;
    padding: 50px;
    // box-shadow: 0px -2px 2px hsl(200, 100%, 50%);
    color: $black;
    margin-left: auto;
    margin-right: auto;
}

.content-wrapper::after {
    content: "";
    background-image: url( "../img/nameless-wider-new-zion-street2.jpg" );
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center top;
    opacity: 1;
    top: 0;
    right: 0;
    bottom: 0;
    left:0 ;
    position: absolute;
    z-index: -1;
    @media (max-width: 1100px ) {
        background-image: url( "../img/wide-no-name-zion-street.jpg");
    }
}

.homepage.content-wrapper::after {
    background-image: url( "../img/glass-only-bkground.jpg" );
    @media (max-width: 1100px ) {
        background-image: url( "../img/glass-only-bkground.jpg");
    }
}

.content-wrapper p {
    position:relative;
}

// .content-wrapper img {
//     float: left;
//     margin: 25px;
// }

.homepage .church-image {
    display: block;
    margin: auto;
}

.text-container {
    background-color: rgba($primary-neutral-light, 0.8);
    padding: 1px 40px 1px 40px;
    //TODO: Make text bigger, make container narrower, starting with below.
    max-width:656px;
    margin-right: auto;
    margin-left: auto;
    font-family: $secondary-font;
    //TODO: figure out a better color for a tag that still is right contrast
    a {
        color: $complementary-neutral-dark;
        text-decoration: underline;
    }
    a:hover {
        color: $primary-neutral-dark;
    }
    font-size: 1.125em;
    .btn-container {
        display: block;
        margin-right: auto;
        margin-left: auto;
        text-align: center;
        width: 150px;
        min-height: 60px;
        background: $primary-color;
        line-height: 55px;
        border: 1px solid $complementary-gray;
        margin-bottom: 25px;
        border-radius: 10px;
        color: $complementary-neutral-dark;
        font-family: $headline-font;
        font-size: 1.5em;
    }

    .btn-container:hover {
        color: $complementary-neutral-light;
    }

    .btn-primary {
        display: inline-block;
        vertical-align: middle;
        line-height: normal;
    }
}

.scroll-wrapper {
    height: 625px;
    overflow: auto;
    width: auto;
}

.side-image {
    width:500px;
    float:right;
}

.side-image-2 {
    clear:right;
}

.side-image img {
    max-width:100%;
    max-height:100%;
}

.h2-not-bold {
    font-weight: normal;
    font-size: 70%;
}

.strong {
    font-weight: bold;
}

.u {
    text-decoration: underline;
}

.em {
    font-style: italic;
}


h4.catechism-quesions{
    font-weight: normal;
    font-style: italic;
}

.map-wrapper {
    float: left;
    margin-right: 20px;
    margin-bottom: 20px;
}

.directions-text {
    float: left;
    max-width: 450px;
    min-width: 300px;
}

.contact-form {
    max-width: 400px;
    margin: auto;
    display: block;

    label {
        display: inline-block;
        padding-top: 5px;
    }

    input {
        width: 100%;
        height: 25px;
        border-radius: 5px;
        border: 1px solid #ccc;
        box-shadow: inset 0 1px 3px #ddd;
        font-size: 16px;
        padding-left: 10px;
    }

    textarea {
        width: 100%;
        height: 100px;
        border-radius: 5px;
        border: 1px solid #ccc;
        box-shadow: inset 0 1px 3px #ddd;
        padding-left: 10px;
        margin-bottom: 5px;
    }
}

.color-swatch {
    display: inline-block;
    height: 50px;
    width: 50px;
}
.color-1 {
    background-color: $primary-neutral-light;
}

.color-2 {
    background-color: $primary-neutral;
}

.color-3 {
    background-color: $primary-neutral-dark;
}
.color-4 {
    background-color: $primary-light;
}
.color-5 {
    background-color: $primary-color;
}
.color-6 {
    background-color: $primary-dark;
}

.color-7 {
    background-color: $complementary-neutral-light;
}

.color-8 {
    background-color: $complementary-neutral;
}

.color-9 {
    background-color: $complementary-neutral-dark;
}
.color-10 {
    background-color: $complementary-light;
}
.color-11 {
    background-color: $complementary-color;
}
.color-12 {
    background-color: $complementary-dark;
}
.color-13 {
    background-color: $white;
}

.color-14 {
    background-color: $neutral-gray;
}

.color-15 {
    background-color: $primary-gray;
}
.color-16 {
    background-color: $complementary-gray;
}
.color-16 {
    background-color: $black;
}
.color-17 {
    background-color: $analogous-color;
}

.color-18 {
    background-color: $complementary-analogous;
}
